

.AppContent{
    display: flex;
   justify-content: center;
   /*margin-top: 20px;*/
   margin:20px 100px 0px 100px;

   padding-top: 0rem;
   height: 100%;
}

.PostsContainer{
    margin-right: 300px;
}

