
.Post{
   
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    height: 480px;
    margin-right:50px;
    border: 2px solid  black;
    margin: 5px 50px 5px 0px;
    border-radius: 10px 10px 5px 5px;
}

.Post_Image_Content{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -280px;
    
    >.Post_Image_Text{
        color:white;
        margin-top: 30px;
        margin-left: 20px;
        align-items: center;
        >h4{
            margin-bottom: 10px;
            margin-left: -5px;
        }
    }
    .MuiIconButton-root >.MuiSvgIcon-root {
      color:#ffffff;
      font-size: larger;
    }

}

.post_middle_content{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    padding: 5px;

    >h2{
        margin: 10px 0px 10px 0px;
    }
    >p{
        font-size: 18px;
    }

    .message_container{
        padding-top: 3px;
        padding-bottom: 20px;
    }
}


.post_footer
{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 0px 5px;

>.like_btn_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    >.MuiIconButton-root
    {
        >.MuiSvgIcon-root {
        color: blue;   
          }
          >p{
            margin-left: 5px;
            font-size: 20px;
            color:blue;
        }  

    }
      

}
>.delete_btn_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    >.MuiIconButton-root
    {
        >.MuiSvgIcon-root {
        color: blue;   
          }
          >p{
            margin-left: 5px;
            font-size: 20px;
            color:blue;
        }  

    }
      
}


}