
.posts_container{

   height: 100vh;
    width: auto;
}

.posts_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 20px; /* Gap between grid items */
  }

  